name: Run Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [^18, ^20]
        etcd-version: [v3.5.12]
        experimental: [false]

    continue-on-error: ${{ matrix.experimental }}

    # Use Redis service on localhost to run tests
    services:
      redis:
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379

    steps:
      - uses: actions/checkout@v3
        name: Checkout repo

      - name: Start Etcd3
        run: curl -L https://github.com/coreos/etcd/releases/download/${{ matrix.etcd-version }}/etcd-${{ matrix.etcd-version }}-linux-amd64.tar.gz -o /tmp/etcd-${{ matrix.etcd-version }}-linux-amd64.tar.gz
      - run: mkdir -p /tmp/etcd
      - run: tar xzvf /tmp/etcd-${{ matrix.etcd-version }}-linux-amd64.tar.gz -C /tmp/etcd --strip-components=1
      - run: /tmp/etcd/etcd --advertise-client-urls https://127.0.0.1:2379 --listen-client-urls https://127.0.0.1:2379  > /dev/null &

    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build:ts
    - run: npm test
      env:
        ETCD_VERSION: ${{ matrix.etcd-version }}
      - uses: actions/setup-node@v4
        name: Set up Node ${{ matrix.node-version }}
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build:ts

      - name: Test
        run: npm test
